body{
    background-color: black;
    justify-content: center;
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}
#maincontainer{
    color: #AB71F4;
    backdrop-filter: blur(10px);
    background-color:#1e132c;
    margin: 0%;
    padding: 0%;
    width: 1024px;
}
/* Title */
.title{
    padding-left: 20px;
    color:#ffffff;
    
}
/* Navbar */
nav{
    position: sticky;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
nav ul li{
    margin-left: 3px;
    margin-right: 3px;
}
nav button{
    border-radius: 10px;
    text-decoration: none;
    background-color: #AB71F4;
}
nav h4{
    color: rgb(255, 255, 255);
}
nav ul li a p{
    font-size:medium;
    color: #ffffff;
    font-weight:bold;
}
nav button:hover{
    cursor: pointer;
}
/* Event */
section{
    backdrop-filter: blur(10px);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
event{
    background-color: #ac71f431;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}
.iofe{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    margin: 2%;
    object-fit:cover;
}
.con{
    color: #ffffff;
    margin-left: 1%;
    font-size:x-large;
    line-height: 40px;
}
.con l{
    line-height: 0px;
}